.navbar-brand{
  font-family: 'Courier New', Courier, monospace;
  font-size: 20x;

}
.navbar-light{
    background-color:blue;
}
 .btn-outline-success:hover{
   background-color: red;
 }
 .buton-2{
   display: flex;
 }
