
<div class="container-fluid container-main">

  <div class="row grid" >

    <div class="center col-4">
      <h1 class="title labelformulaire">Login</h1>

  <div class="row formulaire1">
     <div class="col">

      <div class="form-group">
        <label class="labelformulaire">SURNAME*</label>
        <input type="text" class="form-control" name="userName"  id="userName" [(ngModel)]="userName" required >
      </div>

      <div class="form-group">
        <label class="labelformulaire" >ENTER PASSWORD*</label>
        <input type="password" class="form-control" name="password" id="password" [(ngModel)]="password" required  >
      </div>

      <div class="remember">
        <div class="row remember">
            <div class="col message">
              <div class="rememberme"> <input type="checkbox" id="rememberme" name="rememberme"
                checked>
                  <label id="rememebr-text" for="rememberme">rememberme</label></div>
              <div class="passeforget"> <a>passeforget</a></div>
            </div>
      </div>




      <div class="row">
        <div class="col btn-conatainer">
          <button class="btn btn-dark buttonSumbit" (click)="OnSubmit()" >register</button>

        </div>

      </div>



     </div>
  </div>







    </div>


</div>




