
<div  class="container-fluid">

  <div class="grid row ">
    <div class="col-4">
      <div class="center">
        <h1>Create Accout</h1>
          <div>
            <label><strong>username*</strong></label>
            <input type="text" class="form-control"  name="username" [(ngModel)]="username" />
            <p  class="alert alert-danger" *ngIf="errorName">SurName est Obligatoire </p>
          </div>

          <div>
            <label><strong>Name*</strong></label>
            <input type="text" class="form-control"  name="name" [(ngModel)]="name">
           </div>

           <div>
            <label><strong>surname*</strong></label>
            <input type="text" class="form-control"  name="name" [(ngModel)]="surname">
           </div>

          <div>
            <label>ENTER PASSWORD*</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="password" minlength="8">

          </div>


          <div>
            <label>REENTER PASSWORD*</label>
            <input type="password" class="form-control" name="rePassword" [(ngModel)]="rePassword"/>

          </div>


          <div >
            <label>PHONE NUMBER</label>
            <input type="text" class=" form-control" [(ngModel)]="phone">

          </div>

          <div class="form-group">
            <label>ADRESS</label>
            <input type="text" class="form-control" name="address" [(ngModel)]="address" />
          </div>

          <button class="btn btn-dark buttonSumbit" (click)="onCreateAccount()">REGISTER</button>

      </div>
    </div>
  </div>
</div>








