
<div class="container-fluid">

  <div class="grid row ">
    <div class="col-4">
      <div class="center">
        <h1>Create Accout</h1>
    
    

          <div> 
            <label><strong>SURNAME*</strong></label>
            <input type="text" class="form-control" name="userName"  id="userName">
          </div>
    
          <div>
            <label>ENTER PASSWORD*</label>
            <input type="password" class="form-control" name="password" id="password" >
          </div>
    
    
          <div>
            <label>REENTER PASSWORD*</label>
            <input type="password " class="form-control" name="repassword"  id="repassword" >
          </div>
    
          <div >
            <label>PHONE NUMBER</label>
            <input type="text" class="form-control">
          </div>
    
          <div class="form-group">
            <label>ADRESS</label>
            <input type="text" class="form-control">
          </div>
    
          <button class="btn btn-dark buttonSumbit" type="submit">REGISTER</button>
    
      </div>
    </div>
  </div>
    
    
  
  
</div>




